.stage {
  flex-wrap: wrap;
  background-color: #1e2835;
  color: #4c6fa0;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 75px;
  padding-top: 50px;
  width: 60%;
  float: right;
}

.avatar-on-stage {
  width: 50px;
  align-content: center;
  clear: both;
}

.userContainer {
  width: 50px;
  color: white;
  clear: both;
}
